.todo-container {
  width: 100%;
  max-width: 50%;
  padding: 1em;
  margin: 1em auto;
  background-color: #dfe6e9;
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.25);
  border: 1px solid #b2bec3;
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__sort-button {
    background-color: #00cec9;
    padding: 5px;
    margin-bottom: 7px;
    width: 40%;
  }

  &__show-more {
    background-color: #00cec9;
    padding: 5px;
    align-self: center;
    width: 60%;
  }
}

.input-button {
  width: 15%;
  background-color: #00cec9;
}

.todo-item {
  margin-bottom: 7px;
  height: 37px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.1);
  &__label {
    flex-grow: 1;
    height: 27px;
    padding: 5px;
    background-color: white;
    p {
      color: black;
    }
  }

  &__sort {
    width: 5%;
  }

  &__complete-button {
    background-color: #00b894;
    width: 5%;
  }

  &__delete-button {
    background-color: #d63031;
    width: 5%;
  }
}