<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Xsolla ToDo{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('index') }}

        {% block stylesheets %}{% endblock %}

        <script src="https://kit.fontawesome.com/3b2a310412.js" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('index') }}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id="__main">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
